01 - Cancha Padel Master WF.json
{
  "name": "01 - Cancha Padel Master WF",
  "nodes": [
    {
      "parameters": {
        "content": "## Prompt de Gemini\n\n## PERFIL\nEres el asistente virtual de un complejo de Pádel. Tu objetivo es gestionar reservas de forma eficiente y amable, y mostrar las instalaciones cuando el cliente lo solicite.\n\n## REGLAS CRÍTICAS DE OPERACIÓN (ORDEN DE PRIORIDAD)\nAntes de realizar cualquier acción de reserva, DEBES seguir este flujo lógico:\n\n**FECHA ACTUAL:** {{ $('Calcular fecha').item.json.fecha_actual }}.\n*(Usa siempre esta fecha como referencia para entender cuando el usuario dice 'mañana', 'el lunes' o 'el próximo viernes')*\n\n1. **IDENTIFICACIÓN (Obligatorio):**\n  - Siempre comienza usando la herramienta `Buscar cliente` con el número de celular del usuario.\n  - Si el cliente NO existe (la herramienta no devuelve datos), DEBES pedirle su Nombre y Apellido.\n  - Sí el cliente ya existe. PROHIBIDO usar `Agregar cliente` Extrae el id (cliente_id) y procede a la reserva.\n  - Una vez que tengas Nombre, Apellido y Celular, usa la herramienta `Agregar cliente` para registrarlo en Baserow. \n  - **IMPORTANTE:** NO puedes saltar al paso de reserva sin haber confirmado o creado el registro del cliente. Una vez tengas el `cliente_id`, pásalo a la herramienta de agenda.\n  - **REGLA DE ORO:** Nunca ejecutes Agregar cliente sin haber recibido una respuesta vacía de Buscar cliente en el mismo turno de conversación.\n\n2. **RESERVA (Solo después del paso 1):**\n  - Horario de atención: Lunes a Domingo de 10:00 a 00:00.\n  - Duración de turnos: Todos los turnos son de 90 minutos.\n  - Último turno permitido: Debido a la duración de 90 min, el último horario para iniciar una reserva es a las 22:30.\n  - Validación previa: Si el usuario pide reservar antes de las 10:00 o después de las 22:30, infórmale amablemente que el complejo está cerrado o que no daría el tiempo para completar el turno antes del cierre (00:00).\n  - Solo si el horario es válido, utiliza la herramienta `Agenda calendario`.\n  - Solo cuando el cliente ya esté registrado, utiliza la herramienta `Agenda calendario`.\n  - Para agendar necesitas: Fecha, Hora y Número de Cancha (1 a 4). Si el usuario no especifica la cancha, pregúntale cuál prefiere.\n  - **MANEJO DE ERRORES DE AGENDA:**\n  Si la herramienta Agenda calendario responde que la cancha está ocupada (status: cancha_ocupada), lee el campo canchas_disponibles y ofrécelas al usuario de forma entusiasta 🎾. No confirmes la reserva si la herramienta no devuelve un status: pendiente_pago.\n\n3. **MULTIMEDIA Y FOTOS (Capacidad Visual):**\n  - Si el usuario pide ver fotos de las canchas, fotos del complejo o imágenes de una cancha específica, **DEBES usar la herramienta `enviar_fotos`**.\n  - **Lógica de parámetros:** - Si pide una cancha específica (ej: \"la 3\"), envía el número `3`.\n  - Si pide ver las instalaciones en general o \"todas las fotos\", envía la palabra `todas`.\n  - Informa siempre al usuario que las fotos le llegarán en unos instantes por este mismo chat.\n\n4. **MANEJO DE DISPONIBILIDAD:**\n  - Si `Agenda calendario` te informa que la cancha solicitada está ocupada pero hay otras disponibles, infórmale al cliente y ofrécele las disponibles.\n  - Si no hay ninguna disponibilidad, ofrece el horario alternativo que el subflujo te sugiera.\n\n5. **INFORMACIÓN GENERAL Y DUDAS:**\n  - Si el usuario pregunta por horarios, precios, ubicación, tipos de cancha o reglas del complejo, DEBES usar la herramienta `Conocimiento`.\n  - No inventes datos. Si la herramienta no tiene la respuesta, dile amablemente al usuario que consultarás con un humano.\n  - Ten en cuenta que la seña siempre es de **ARS 30.000**, independientemente del tipo de cancha.\n\n## TONO DE VOZ\n  - Profesional, entusiasta y servicial.\n  - Usa emojis de pádel 🎾 y deportes para mantener un ambiente cercano.\n  - Confirma siempre los datos de forma clara antes de finalizar: \"Perfecto [Nombre], te registré en la Cancha N°[X] para el día [Fecha] a las [Hora]\".",
        "height": 416,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2256,
        -192
      ],
      "typeVersion": 1,
      "id": "28fa2592-dbbc-43e1-a34c-7e71f52e2416",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## To Do\n- Arreglar el horario, para que reservern maximo 90 mins antes de la hora de cierre.\n- Que puedan reservar las canchas en intervalos de 30 mins, es decir a las 10, 10.30, 11, 11.30 y así.\n- Hacer las pruebas que me generó Claude.\n- Ver lo de la reservación de varias canchas a la vez y arreglar de que si reservan varias canchas, que envíe un solo mail con ambos datos.\n- Arreglar la lógica de la seña para la reservación de varias canchas a la vez.\n- Ver lo de mercado pago, para que avise de que se cobra una seña.\n- Ver lo de la cancelación de un turno. (sin devolución de seña)",
        "height": 416,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1472,
        -144
      ],
      "typeVersion": 1,
      "id": "ea480d06-d462-4dc4-a6dd-c1de1996b129",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "databaseId": 147,
        "tableId": 560,
        "limit": 1,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 7914,
                "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
              },
              {
                "field": 7135,
                "value": "Pendiente"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1.1,
      "position": [
        -2048,
        1280
      ],
      "id": "02a43abf-084b-4afe-9f91-41eb4b0794d0",
      "name": "Buscar reserva pendiente",
      "disabled": true,
      "credentials": {
        "baserowApi": {
          "id": "bpxjYqewrr1K3dsf",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "databaseId": 147,
        "tableId": 560,
        "limit": 1,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 7914,
                "value": "={{ $('Telegram Trigger v2').item.json.message?.chat?.id || $('Telegram Trigger v2').item.json.callback_query?.message?.chat?.id }}"
              },
              {
                "field": 7135,
                "value": "Pendiente"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1.1,
      "position": [
        -2048,
        1200
      ],
      "id": "02a43abf-084b-4afe-9f91-000000000001",
      "name": "Buscar reserva pendiente v2",
      "credentials": {
        "baserowApi": {
          "id": "bpxjYqewrr1K3dsf",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ace411ec-ba16-4f7a-96a9-416994327905",
              "leftValue": "={{ $json.message.document }} || {{ $json.message.photo }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2208,
        -656
      ],
      "id": "927bb5a5-88f7-460b-8df2-42dab9a9248c",
      "name": "If-or",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KEeEE0nBXtPOA0aI",
          "mode": "id",
          "cachedResultUrl": "/workflow/KEeEE0nBXtPOA0aI"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Telegram Trigger-or').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "file_type",
              "displayName": "file_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "baserow_row_id",
              "displayName": "baserow_row_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "cancha_final",
              "displayName": "cancha_final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fecha_hora_iso_start",
              "displayName": "fecha_hora_iso_start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fecha_hora_iso_end",
              "displayName": "fecha_hora_iso_end",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "monto",
              "displayName": "monto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fecha_formateada",
              "displayName": "fecha_formateada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hora_formateada",
              "displayName": "hora_formateada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2000,
        -496
      ],
      "id": "53c3d7ef-5c67-4034-b05a-3b322f80c480",
      "name": "Procesa transferencia-or",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "a156e7e0-1040-4933-985e-8c15dc0ccc8a",
              "leftValue": "={{ $json.message.voice || $json.message.audio ? 1 : 0 }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ true }}",
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2000,
        -672
      ],
      "id": "c83d5fda-e675-4457-a8f6-ae6f55ebec13",
      "name": "Audio?-or",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8360077723:AAHWSO-kIBh3uprg9gKQUehTlPipTSZNAY4/getFile?file_id={{ $json.message.voice.file_id || $json.message.audio.file_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1760,
        -816
      ],
      "id": "16b6cdca-ca10-43a0-a9cb-e2e963e67948",
      "name": "Obtener audio-or",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot8360077723:AAHWSO-kIBh3uprg9gKQUehTlPipTSZNAY4/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1600,
        -816
      ],
      "id": "efa5da44-c3e1-40f0-b914-8ceef95046ed",
      "name": "Descargar audio-or",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\n// Rename binary to audio.ogg so Groq accepts it\nif (item.binary && item.binary.data) {\n  item.binary.data.fileName = 'audio.ogg';\n  item.binary.data.mimeType = 'audio/ogg';\n}\nreturn item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        -816
      ],
      "id": "089b9447-dd2d-4b9c-83c4-22ec8df98d90",
      "name": "Code in JavaScript -or",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "language",
              "value": "es"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1248,
        -816
      ],
      "id": "3506b757-6124-4a3c-818d-e90257c18e59",
      "name": "Transcribir audio-or",
      "credentials": {
        "httpHeaderAuth": {
          "id": "73Tdb0anVxIu7zyb",
          "name": "Groq credentials"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const transcription = $json.text;\nconst telegramText = $json.message?.text;\nconst inputChatId = $('Telegram Trigger-or').first()?.json?.message?.chat?.id || \"internal_chat\";\n\nreturn {\n    message: {\n      text: transcription || telegramText || '',\n      chat: { id: inputChatId }\n    },\n    text: transcription || telegramText || ''\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        -656
      ],
      "id": "edf301b4-edda-4444-9180-fc690746dbaf",
      "name": "Merge texto-or",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const now = $now.setZone('America/Argentina/Buenos_Aires');\n\nconst hour = now.hour;\n\nlet saludo;\n\nif (hour < 13) {\n  saludo = \"Buen día\";\n} else if (hour < 20) {\n  saludo = \"Buenas tardes\";\n} else {\n  saludo = \"Buenas noches\";\n}\n\nreturn {\n  json: {\n    // Pass through original data\n    ...($json || {}),\n    text: $json.text || $json.message?.text || '',\n    message: $json.message || {},\n    // Inject calculated values\n    saludo: saludo,\n    fecha_actual: now.toFormat(\"cccc dd/MM/yyyy HH:mm\"),\n    fecha_iso: now.toFormat(\"yyyy-MM-dd\"),\n    hora_actual: now.toFormat(\"HH:mm\"),\n    año_actual: now.toFormat(\"yyyy\")\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        -656
      ],
      "id": "e268f35d-3e4a-4851-83c5-5d336fcf4e7d",
      "name": "Calcular fecha-or",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Obtener mensaje original del input\nconst originalMessage = $input.item.json.message || {};\nconst textFromMessage = originalMessage.text || '';\n\n// Extraer transcripción si existe\nconst transcription = $json.transcription || '';\n\n// Crear el texto final\nconst finalText = transcription || textFromMessage;\n\nreturn {\n  json: {\n    text: finalText,\n    message: originalMessage\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        -656
      ],
      "id": "e9a01ee9-7279-488a-ad9e-c71c50a6ada8",
      "name": "Procesar texto-or",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=## PERFIL\nEres el asistente virtual de un complejo de Pádel. Tu objetivo es gestionar reservas de forma eficiente y amable, y mostrar las instalaciones cuando el cliente lo solicite.\n\n## REGLAS CRÍTICAS DE OPERACIÓN (ORDEN DE PRIORIDAD)\nAntes de realizar cualquier acción de reserva, DEBES seguir este flujo lógico:\n\n**FECHA ACTUAL:** {{ $('Calcular fecha-or').item.json.fecha_actual }}.\n*(Usa siempre esta fecha como referencia para entender cuando el usuario dice 'mañana', 'el lunes' o 'el próximo viernes')*\n\n1. **IDENTIFICACIÓN (Obligatorio):**\n  - Siempre comienza usando la herramienta `Buscar cliente` con el número de celular del usuario.\n  - Si el cliente NO existe (la herramienta no devuelve datos), DEBES pedirle su Nombre y Apellido.\n  - Sí el cliente ya existe. PROHIBIDO usar `Agregar cliente` Extrae el id (cliente_id) y procede a la reserva.\n  - Una vez que tengas Nombre, Apellido y Celular, usa la herramienta `Agregar cliente` para registrarlo en Baserow. \n  - **IMPORTANTE:** NO puedes saltar al paso de reserva sin haber confirmado o creado el registro del cliente. Una vez tengas el `cliente_id`, pásalo a la herramienta de agenda.\n  - **REGLA DE ORO:** Nunca ejecutes Agregar cliente sin haber recibido una respuesta vacía de Buscar cliente en el mismo turno de conversación.\n\n2. **RESERVA (Solo después del paso 1):**\n  - Horario de atención: Lunes a Domingo de 10:00 a 00:00.\n  - Duración de turnos: Todos los turnos son de 90 minutos.\n  - Último turno permitido: Debido a la duración de 90 min, el último horario para iniciar una reserva es a las 22:30.\n  - Validación previa: Si el usuario pide reservar antes de las 10:00 o después de las 22:30, infórmale amablemente que el complejo está cerrado o que no daría el tiempo para completar el turno antes del cierre (00:00).\n  - Solo si el horario es válido, utiliza la herramienta `Agenda calendario`.\n  - Solo cuando el cliente ya esté registrado, utiliza la herramienta `Agenda calendario`.\n  - Sí el cliente elije hacer el pago por transferencia usa la herramienta `Transferencias`.\n  - Si el callback es `pago_transferencia`, ejecuta la herramienta `Transferencias`.\n  - Para agendar necesitas: Fecha, Hora y Número de Cancha (1 a 4). Si el usuario no especifica la cancha, pregúntale cuál prefiere.\n  - Si `motivo_bloqueo` es `\"torneo\"`, informa: \"🏆 La cancha [X] está reservada para un torneo. Te ofrezco estas canchas disponibles: [lista]\"\n  - Si `motivo_bloqueo` es `\"todas_torneo\"`, informa: \"🏆 Lo sentimos, el complejo tiene un torneo programado en ese horario y todas las canchas están ocupadas. ¿Querés probar otro horario?\"\n  - **MANEJO DE ERRORES DE AGENDA:**\n  - Si la herramienta `Agenda calendario` responde con `mensaje_estado: OCUPADA`, revisá el campo `motivo_bloqueo` y respondé según el caso:\n\n  - Si `motivo_bloqueo` es `\"reservada\"`:\n    > \"😔 La cancha [X] ya tiene una reserva en ese horario. \n    > Tenés disponibles las canchas: [canchas_disponibles] 🎾 ¿Cuál preferís?\"\n\n  - Si `motivo_bloqueo` es `\"torneo\"`:\n    > \"🏆 La cancha [X] está bloqueada por un torneo en ese horario. \n    > Pero no te preocupes, tenés disponibles las canchas: [canchas_disponibles] 🎾 ¿Cuál preferís?\"\n\n  - Si `motivo_bloqueo` es `\"todas_torneo\"`:\n    > \"🏆 Lo sentimos, el complejo tiene un torneo programado en ese horario y todas las canchas están ocupadas.\n    > ¿Querés que busquemos otro horario disponible? 🎾\"\n\n  - Si `motivo_bloqueo` es `null` y `canchas_disponibles` está vacío:\n    > \"😔 No hay canchas disponibles para ese horario. \n    > ¿Querés que busquemos otro horario? 🎾\"\n\n  **CRÍTICO:** No confirmes ninguna reserva si no recibís `mensaje_estado: OK`.\n  \n3. **MULTIMEDIA Y FOTOS (Capacidad Visual):**\n  - Si el usuario pide ver fotos de las canchas, fotos del complejo o imágenes de una cancha específica, **DEBES usar la herramienta `enviar_fotos`**.\n  - **Lógica de parámetros:** - Si pide una cancha específica (ej: \"la 3\"), envía el número `3`.\n  - Si pide ver las instalaciones en general o \"todas las fotos\", envía la palabra `todas`.\n  - Informa siempre al usuario que las fotos le llegarán en unos instantes por este mismo chat.\n\n4. **MANEJO DE DISPONIBILIDAD:**\n  - Si `Agenda calendario` te informa que la cancha solicitada está ocupada pero hay otras disponibles, infórmale al cliente y ofrécele las disponibles.\n  - Si `Agenda calendario` te informa que **todas las canchas están ocupadas** para ese horario (el campo `canchas_disponibles` está vacío o no contiene opciones), responde con este mensaje:\n    > \"😔 Lo sentimos, todas las canchas están ocupadas para ese horario. \n    > ¿Querés que busquemos otro horario disponible? Te recomendamos probar con 90 minutos antes o después 🎾\"\n  - En ese caso, **NO ofrezcas ninguna cancha** ni confirmes ninguna reserva.\n  - Sugiere siempre un horario alternativo si el subflujo te lo provee. Si no lo provee, pedile al usuario que elija otro horario dentro del rango permitido (10:00 a 22:30).\n\n5. **INFORMACIÓN GENERAL Y DUDAS:**\n  - Si el usuario pregunta por horarios, precios, ubicación, tipos de cancha o reglas del complejo, DEBES usar la herramienta `Conocimiento`.\n  - No inventes datos. Si la herramienta no tiene la respuesta, dile amablemente al usuario que consultarás con un humano.\n  - Ten en cuenta que la seña siempre es de **ARS 30.000**, independientemente del tipo de cancha.\n\n## TONO DE VOZ\n  - Profesional, entusiasta y servicial.\n  - Usa emojis de pádel 🎾 y deportes para mantener un ambiente cercano.\n  - Confirma siempre los datos de forma clara antes de finalizar: \"Perfecto [Nombre], te registré en la Cancha N°[X] para el día [Fecha] a las [Hora]\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -480,
        -656
      ],
      "id": "c78022e0-a6c1-4a81-ac9e-08ea4973cf12",
      "name": "Agente Conversacional-or",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -768,
        -432
      ],
      "id": "c0685eda-bb8c-4203-b0cf-89330c6b6c5d",
      "name": "Gpt-4o-mini-or",
      "credentials": {
        "openAiApi": {
          "id": "PC4VGqko4NBRky7Y",
          "name": "OpenAi"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -672,
        -432
      ],
      "id": "95285948-3b35-4854-8cb4-c8c37e44760c",
      "name": "Memoria-or",
      "disabled": true,
      "notes": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
    },
    {
      "parameters": {
        "databaseId": 147,
        "tableId": 874,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 7901,
                "value": "={{ $fromAI('fields1_Value', ``, 'string') }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserowTool",
      "typeVersion": 1,
      "position": [
        -576,
        -432
      ],
      "id": "a5b328c3-10ea-4344-8253-ec8c4057a012",
      "name": "Buscar cliente-or ",
      "credentials": {
        "baserowApi": {
          "id": "bpxjYqewrr1K3dsf",
          "name": "Baserow"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 147,
        "tableId": 874,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 7900,
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', `Nombre y Apellido del cliente.`, 'string') }}"
            },
            {
              "fieldId": 7901,
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', `Número de celular del cliente`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserowTool",
      "typeVersion": 1,
      "position": [
        -448,
        -432
      ],
      "id": "076d3b42-f295-496f-a7e8-2ffa2cc09010",
      "name": "Agregar cliente-or",
      "credentials": {
        "baserowApi": {
          "id": "bpxjYqewrr1K3dsf",
          "name": "Baserow"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Úsala para responder CUALQUIER pregunta informativa sobre el complejo: horarios de apertura, cantidad de canchas, precios de alquiler, ubicación exacta, servicios (duchas, bar), y reglamentos. Consultar siempre antes de decir que no sabemos algo.",
        "operation": "get",
        "documentURL": "1WzkvaU1h00SqK0iIqKRB3CotuStVv",
        "simple": false
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -320,
        -432
      ],
      "id": "330ef546-f713-463c-93e0-88eb5c3922f8",
      "name": "Conocimiento-or",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "hMeonYRgALFpYI1n",
          "name": "Google Docs"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "description": "Busca disponibilidad y agenda citas en el calendario. Recibe: nombre, apellido, fecha (YYYY-MM-DD), hora (HH:mm), cancha (1-4), celular",
        "workflowId": {
          "__rl": true,
          "value": "=tOY4czRnNRKnXiYY",
          "mode": "id",
          "cachedResultUrl": "/workflow/=tOY4czRnNRKnXiYY"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Procesar texto-or').item.json.message.chat.id }}",
            "cancha": "={{ $fromAI('cancha', ``, 'string') }}",
            "hora": "={{ $fromAI('hora', ``, 'string') }}",
            "fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', `Fecha de la reserva en formato DD/MM/YYYY. Ejemplo: 08/03/2026.`, 'string') }}",
            "celular": "={{ $fromAI('celular', ``, 'string') }}",
            "apellido": "={{ $fromAI('apellido', ``, 'string') }}",
            "nombre": "={{ $fromAI('nombre', ``, 'string') }}",
            "client_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('client_id', `El ID del cliente que se usó en el nodo de Agregar cliente`, 'string') }}",
            "monto": 30000
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "apellido",
              "displayName": "apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "celular",
              "displayName": "celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "cancha",
              "displayName": "cancha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "monto",
              "displayName": "monto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -176,
        -432
      ],
      "id": "d58cb318-65d4-42c4-adb7-4246fc367d61",
      "name": "Agenda calendario-or",
      "disabled": true
    },
    {
      "parameters": {
        "description": "Úsala cuando el cliente quiera ver fotos de las canchas o instalaciones. Recibe el parámetro 'cancha' (puede ser un número del 1 al 4, o la palabra 'todas') y el 'chatId' del usuario.",
        "workflowId": {
          "__rl": true,
          "value": "wK4ehb1yjQHw80ab",
          "mode": "list",
          "cachedResultUrl": "/workflow/wK4ehb1yjQHw80ab",
          "cachedResultName": "SimplificIA - Enviar fotos - subWF"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.message.chat.id }}",
            "cancha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cancha', `puede ser un número del 1 al 4, o la palabra 'todas`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "cancha",
              "displayName": "cancha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -48,
        -432
      ],
      "id": "84baa0ea-4a55-480f-9fea-b5d2a010f421",
      "name": "Envia fotos-or",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GfRPd6fEiF2B94sg",
          "mode": "id",
          "cachedResultUrl": "/workflow/GfRPd6fEiF2B94sg"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre', ``, 'string') }}",
            "apellido": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('apellido', ``, 'string') }}",
            "chat_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chat_id', ``, 'string') }}",
            "cancha_final": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cancha_final', ``, 'string') }}",
            "fecha_formateada": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_formateada', ``, 'string') }}",
            "hora_formateada": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora_formateada', ``, 'string') }}",
            "monto": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('monto', ``, 'string') }}",
            "fecha_hora_iso_start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_hora_iso_start', ``, 'string') }}",
            "fecha_hora_iso_end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_hora_iso_end', ``, 'string') }}",
            "client_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('client_id', ``, 'string') }}",
            "baserow_row_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('baserow_row_id', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "apellido",
              "displayName": "apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cancha_final",
              "displayName": "cancha_final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fecha_formateada",
              "displayName": "fecha_formateada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "hora_formateada",
              "displayName": "hora_formateada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "monto",
              "displayName": "monto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fecha_hora_iso_start",
              "displayName": "fecha_hora_iso_start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fecha_hora_iso_end",
              "displayName": "fecha_hora_iso_end",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "baserow_row_id",
              "displayName": "baserow_row_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        64,
        -432
      ],
      "id": "60bd6c42-c50c-4f1b-9e13-3edf9aeeaa5d",
      "name": "Transferencias-or",
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger-or').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -128,
        -656
      ],
      "id": "31ddad66-722f-4ce0-99ec-9a06158a66b0",
      "name": "Send a text message-or",
      "webhookId": "e09c78b2-84e9-4e4c-af09-87b4fbe2ac0f",
      "credentials": {
        "telegramApi": {
          "id": "IlRajKak34OGYyo8",
          "name": "Telegram"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2384,
        -656
      ],
      "webhookId": "90d0db3b-7fd3-4831-8f56-85b63bcc0869",
      "id": "57b496b6-2373-4065-9034-f74255a8fcd3",
      "name": "Telegram Trigger-or",
      "credentials": {
        "telegramApi": {
          "id": "IlRajKak34OGYyo8",
          "name": "Telegram"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ace411ec-ba16-4f7a-96a9-416994327905",
              "leftValue": "={{ $json.callback_query?.data }}",
              "rightValue": "metodo_transferencia",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2384,
        1040
      ],
      "id": "2a448d50-c76f-4810-bfcb-27b3afceed7c",
      "name": "If"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2560,
        1040
      ],
      "webhookId": "90d0db3b-7fd3-4831-8f56-85b63bcc0869",
      "id": "eda81b6a-8c09-4dc5-b439-361c27f9df56",
      "name": "Telegram Trigger",
      "disabled": true,
      "credentials": {
        "telegramApi": {
          "id": "IlRajKak34OGYyo8",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2560,
        960
      ],
      "webhookId": "90d0db3b-7fd3-4831-8f56-85b63bcc0869",
      "id": "eda81b6a-8c09-4dc5-b439-000000000001",
      "name": "Telegram Trigger v2",
      "credentials": {
        "telegramApi": {
          "id": "IlRajKak34OGYyo8",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a156e7e0-1040-4933-985e-8c15dc0ccc8a",
                    "leftValue": "={{ $json.message.voice || $json.message.audio ? 1 : 0 }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
                    "leftValue": "={{ $json.message.photo || $json.message.document ? 1 : 0 }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Comprobante"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2192,
        992
      ],
      "id": "39f300d6-bd3c-4f26-9ffe-6e1c2780eb6c",
      "name": "Audio?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KEeEE0nBXtPOA0aI",
          "mode": "id",
          "cachedResultUrl": "/workflow/KEeEE0nBXtPOA0aI"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "file_id": "={{ $('Telegram Trigger').item.json.message.photo ? $('Telegram Trigger').item.json.message.photo[-1].file_id : $('Telegram Trigger').item.json.message.document.file_id }}",
            "file_type": "={{ $('Telegram Trigger').item.json.message.photo ? 'photo' : 'document' }}",
            "baserow_row_id": "={{ $('Buscar reserva pendiente').item.json.id }}",
            "cancha_final": "={{ $('Buscar reserva pendiente').item.json.field_6863 }}",
            "fecha_hora_iso_start": "={{ $('Buscar reserva pendiente').item.json.field_7915 }}",
            "fecha_hora_iso_end": "={{ $('Buscar reserva pendiente').item.json.field_7916 }}",
            "nombre": "={{ $('Buscar reserva pendiente').item.json.field_7900 }}",
            "monto": "={{ $('Buscar reserva pendiente').item.json.field_7189 }}",
            "fecha_formateada": "={{ $('Buscar reserva pendiente').item.json.field_4865 }}",
            "hora_formateada": "={{ $('Buscar reserva pendiente').item.json.field_7898 }}",
            "client_id": "={{ $('Buscar reserva pendiente').item.json.field_7914 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "file_type",
              "displayName": "file_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "baserow_row_id",
              "displayName": "baserow_row_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "cancha_final",
              "displayName": "cancha_final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fecha_hora_iso_start",
              "displayName": "fecha_hora_iso_start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fecha_hora_iso_end",
              "displayName": "fecha_hora_iso_end",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "monto",
              "displayName": "monto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fecha_formateada",
              "displayName": "fecha_formateada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hora_formateada",
              "displayName": "hora_formateada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1824,
        1280
      ],
      "id": "12ef857b-41e0-420d-b2d6-cb24fdb9af8b",
      "name": "Procesa transferencia",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KEeEE0nBXtPOA0aI",
          "mode": "id",
          "cachedResultUrl": "/workflow/KEeEE0nBXtPOA0aI"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Telegram Trigger v2').item.json.message?.chat?.id || $('Telegram Trigger v2').item.json.callback_query?.message?.chat?.id }}",
            "file_id": "={{ $('Telegram Trigger v2').item.json.message.photo ? $('Telegram Trigger v2').item.json.message.photo[-1].file_id : $('Telegram Trigger v2').item.json.message.document.file_id }}",
            "file_type": "={{ $('Telegram Trigger v2').item.json.message.photo ? 'photo' : 'document' }}",
            "baserow_row_id": "={{ $('Buscar reserva pendiente v2').item.json.id }}",
            "cancha_final": "={{ $('Buscar reserva pendiente v2').item.json.field_6863 }}",
            "fecha_hora_iso_start": "={{ $('Buscar reserva pendiente v2').item.json.field_7915 }}",
            "fecha_hora_iso_end": "={{ $('Buscar reserva pendiente v2').item.json.field_7916 }}",
            "nombre": "={{ $('Buscar reserva pendiente v2').item.json.field_7900 }}",
            "monto": "={{ $('Buscar reserva pendiente v2').item.json.field_7189 }}",
            "fecha_formateada": "={{ $('Buscar reserva pendiente v2').item.json.field_4865 }}",
            "hora_formateada": "={{ $('Buscar reserva pendiente v2').item.json.field_7898 }}",
            "client_id": "={{ $('Buscar reserva pendiente v2').item.json.field_7914 }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "chat_id", "displayName": "chat_id", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "file_id", "displayName": "file_id", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "file_type", "displayName": "file_type", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "baserow_row_id", "displayName": "baserow_row_id", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "cancha_final", "displayName": "cancha_final", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "fecha_hora_iso_start", "displayName": "fecha_hora_iso_start", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "fecha_hora_iso_end", "displayName": "fecha_hora_iso_end", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "nombre", "displayName": "nombre", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "monto", "displayName": "monto", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "fecha_formateada", "displayName": "fecha_formateada", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "hora_formateada", "displayName": "hora_formateada", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "client_id", "displayName": "client_id", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1824,
        1200
      ],
      "id": "12ef857b-41e0-420d-b2d6-000000000001",
      "name": "Procesa transferencia v2"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8360077723:AAHWSO-kIBh3uprg9gKQUehTlPipTSZNAY4/getFile?file_id={{ $json.message.voice.file_id || $json.message.audio.file_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1936,
        880
      ],
      "id": "a876c8ea-ba1d-49e9-aad0-35d75c897356",
      "name": "Obtener audio",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $credentials.accessToken }}/getFile?file_id={{ $json.message.voice.file_id || $json.message.audio.file_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1936,
        800
      ],
      "id": "a876c8ea-ba1d-49e9-aad0-000000000001",
      "name": "Obtener audio v2",
      "credentials": {
        "telegramApi": {
          "id": "IlRajKak34OGYyo8",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot8360077723:AAHWSO-kIBh3uprg9gKQUehTlPipTSZNAY4/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1776,
        880
      ],
      "id": "797b8054-09ac-44b8-a636-ac4d31643c8e",
      "name": "Descargar audio",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{ $credentials.accessToken }}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1776,
        800
      ],
      "id": "797b8054-09ac-44b8-a636-000000000001",
      "name": "Descargar audio v2",
      "credentials": {
        "telegramApi": {
          "id": "IlRajKak34OGYyo8",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\n// Rename binary to audio.ogg so Groq accepts it\nif (item.binary && item.binary.data) {\n  item.binary.data.fileName = 'audio.ogg';\n  item.binary.data.mimeType = 'audio/ogg';\n}\nreturn item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        880
      ],
      "id": "1002251e-a041-4583-a3cc-29969f20d5b1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const transcription = $json.text;\nconst telegramText = $json.message?.text;\nconst inputChatId = $('Telegram Trigger').first()?.json?.message?.chat?.id || \"internal_chat\";\n\nreturn {\n    message: {\n      text: transcription || telegramText || '',\n      chat: { id: inputChatId }\n    },\n    text: transcription || telegramText || ''\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        1040
      ],
      "id": "e0b2525f-ecd9-4d9c-af20-440267a64594",
      "name": "Merge texto"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "language",
              "value": "es"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1424,
        880
      ],
      "id": "c062cd1d-951c-46cc-92a5-99e4eebc6d54",
      "name": "Transcribir audio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "73Tdb0anVxIu7zyb",
          "name": "Groq credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = $now.setZone('America/Argentina/Buenos_Aires');\n\nconst hour = now.hour;\n\nlet saludo;\n\nif (hour < 13) {\n  saludo = \"Buen día\";\n} else if (hour < 20) {\n  saludo = \"Buenas tardes\";\n} else {\n  saludo = \"Buenas noches\";\n}\n\nreturn {\n  json: {\n    // Pass through original data\n    ...($json || {}),\n    text: $json.text || $json.message?.text || '',\n    message: $json.message || {},\n    // Inject calculated values\n    saludo: saludo,\n    fecha_actual: now.toFormat(\"cccc dd/MM/yyyy HH:mm\"),\n    fecha_iso: now.toFormat(\"yyyy-MM-dd\"),\n    hora_actual: now.toFormat(\"HH:mm\"),\n    año_actual: now.toFormat(\"yyyy\")\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        1040
      ],
      "id": "02277c31-f874-468f-8e24-9759b206d3e7",
      "name": "Calcular fecha"
    },
    {
      "parameters": {
        "jsCode": "// Obtener mensaje original del input\nconst originalMessage = $input.item.json.message || {};\nconst textFromMessage = originalMessage.text || '';\n\n// Extraer transcripción si existe\nconst transcription = $json.transcription || '';\n\n// Crear el texto final\nconst finalText = transcription || textFromMessage;\n\nreturn {\n  json: {\n    text: finalText,\n    message: originalMessage\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        1040
      ],
      "id": "9dae9c29-5800-455d-8084-84da149b4269",
      "name": "Procesar texto"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -944,
        1264
      ],
      "id": "736f88e7-0ef0-46cd-a447-5105d9ae1a41",
      "name": "Gpt-4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "PC4VGqko4NBRky7Y",
          "name": "OpenAi"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -848,
        1264
      ],
      "id": "ecf9185e-d685-4e6a-bcc7-d922d61628b5",
      "name": "Memoria",
      "notes": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
    },
    {
      "parameters": {
        "databaseId": 147,
        "tableId": 874,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 7901,
                "value": "={{ $fromAI('fields1_Value', ``, 'string') }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserowTool",
      "typeVersion": 1,
      "position": [
        -752,
        1264
      ],
      "id": "cbdedf11-59f9-4b5c-abe9-2718a97fa5e4",
      "name": "Buscar cliente",
      "credentials": {
        "baserowApi": {
          "id": "bpxjYqewrr1K3dsf",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 147,
        "tableId": 874,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 7900,
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', `Nombre y Apellido del cliente.`, 'string') }}"
            },
            {
              "fieldId": 7901,
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', `Número de celular del cliente`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserowTool",
      "typeVersion": 1,
      "position": [
        -624,
        1264
      ],
      "id": "877d1331-86c9-4fd2-9e0d-0a8630c2129c",
      "name": "Agregar cliente",
      "credentials": {
        "baserowApi": {
          "id": "bpxjYqewrr1K3dsf",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Úsala para responder CUALQUIER pregunta informativa sobre el complejo: horarios de apertura, cantidad de canchas, precios de alquiler, ubicación exacta, servicios (duchas, bar), y reglamentos. Consultar siempre antes de decir que no sabemos algo.",
        "operation": "get",
        "documentURL": "1WzkvaU1h00SqK0iIqKRB3CotuStVv",
        "simple": false
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -496,
        1264
      ],
      "id": "edd62615-3c42-4718-82b3-0cd8cc32c1ee",
      "name": "Conocimiento",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "hMeonYRgALFpYI1n",
          "name": "Google Docs"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=## PERFIL\nEres el asistente virtual de un complejo de Pádel. Tu objetivo es gestionar reservas de forma eficiente y amable, y mostrar las instalaciones cuando el cliente lo solicite.\n\n## REGLAS CRÍTICAS DE OPERACIÓN (ORDEN DE PRIORIDAD)\nAntes de realizar cualquier acción de reserva, DEBES seguir este flujo lógico:\n\n**FECHA ACTUAL:** {{ $('Calcular fecha').item.json.fecha_actual }}.\n*(Usa siempre esta fecha como referencia para entender cuando el usuario dice 'mañana', 'el lunes' o 'el próximo viernes')*\n\n1. **IDENTIFICACIÓN (Obligatorio):**\n  - Siempre comienza usando la herramienta `Buscar cliente` con el número de celular del usuario.\n  - Si el cliente NO existe (la herramienta no devuelve datos), DEBES pedirle su Nombre y Apellido.\n  - Sí el cliente ya existe. PROHIBIDO usar `Agregar cliente` Extrae el id (cliente_id) y procede a la reserva.\n  - Una vez que tengas Nombre, Apellido y Celular, usa la herramienta `Agregar cliente` para registrarlo en Baserow. \n  - **IMPORTANTE:** NO puedes saltar al paso de reserva sin haber confirmado o creado el registro del cliente. Una vez tengas el `cliente_id`, pásalo a la herramienta de agenda.\n  - **REGLA DE ORO:** Nunca ejecutes Agregar cliente sin haber recibido una respuesta vacía de Buscar cliente en el mismo turno de conversación.\n\n2. **RESERVA (Solo después del paso 1):**\n  - Horario de atención: Lunes a Domingo de 10:00 a 00:00.\n  - Duración de turnos: Todos los turnos son de 90 minutos.\n  - Último turno permitido: Debido a la duración de 90 min, el último horario para iniciar una reserva es a las 22:30.\n  - Validación previa: Si el usuario pide reservar antes de las 10:00 o después de las 22:30, infórmale amablemente que el complejo está cerrado o que no daría el tiempo para completar el turno antes del cierre (00:00).\n  - Solo si el horario es válido, utiliza la herramienta `Agenda calendario`.\n  - Solo cuando el cliente ya esté registrado, utiliza la herramienta `Agenda calendario`.\n  - Sí el cliente elije hacer el pago por transferencia usa la herramienta `Transferencias`.\n  - Si el callback es `pago_transferencia`, ejecuta la herramienta `Transferencias`.\n  - Para agendar necesitas: Fecha, Hora y Número de Cancha (1 a 4). Si el usuario no especifica la cancha, pregúntale cuál prefiere.\n  - Si `motivo_bloqueo` es `\"torneo\"`, informa: \"🏆 La cancha [X] está reservada para un torneo. Te ofrezco estas canchas disponibles: [lista]\"\n  - Si `motivo_bloqueo` es `\"todas_torneo\"`, informa: \"🏆 Lo sentimos, el complejo tiene un torneo programado en ese horario y todas las canchas están ocupadas. ¿Querés probar otro horario?\"\n  - **MANEJO DE ERRORES DE AGENDA:**\n  - Si la herramienta `Agenda calendario` responde con `mensaje_estado: OCUPADA`, revisá el campo `motivo_bloqueo` y respondé según el caso:\n\n  - Si `motivo_bloqueo` es `\"reservada\"`:\n    > \"😔 La cancha [X] ya tiene una reserva en ese horario. \n    > Tenés disponibles las canchas: [canchas_disponibles] 🎾 ¿Cuál preferís?\"\n\n  - Si `motivo_bloqueo` es `\"torneo\"`:\n    > \"🏆 La cancha [X] está bloqueada por un torneo en ese horario. \n    > Pero no te preocupes, tenés disponibles las canchas: [canchas_disponibles] 🎾 ¿Cuál preferís?\"\n\n  - Si `motivo_bloqueo` es `\"todas_torneo\"`:\n    > \"🏆 Lo sentimos, el complejo tiene un torneo programado en ese horario y todas las canchas están ocupadas.\n    > ¿Querés que busquemos otro horario disponible? 🎾\"\n\n  - Si `motivo_bloqueo` es `null` y `canchas_disponibles` está vacío:\n    > \"😔 No hay canchas disponibles para ese horario. \n    > ¿Querés que busquemos otro horario? 🎾\"\n\n  **CRÍTICO:** No confirmes ninguna reserva si no recibís `mensaje_estado: OK`.\n  \n3. **MULTIMEDIA Y FOTOS (Capacidad Visual):**\n  - Si el usuario pide ver fotos de las canchas, fotos del complejo o imágenes de una cancha específica, **DEBES usar la herramienta `enviar_fotos`**.\n  - **Lógica de parámetros:** - Si pide una cancha específica (ej: \"la 3\"), envía el número `3`.\n  - Si pide ver las instalaciones en general o \"todas las fotos\", envía la palabra `todas`.\n  - Informa siempre al usuario que las fotos le llegarán en unos instantes por este mismo chat.\n\n4. **MANEJO DE DISPONIBILIDAD:**\n  - Si `Agenda calendario` te informa que la cancha solicitada está ocupada pero hay otras disponibles, infórmale al cliente y ofrécele las disponibles.\n  - Si `Agenda calendario` te informa que **todas las canchas están ocupadas** para ese horario (el campo `canchas_disponibles` está vacío o no contiene opciones), responde con este mensaje:\n    > \"😔 Lo sentimos, todas las canchas están ocupadas para ese horario. \n    > ¿Querés que busquemos otro horario disponible? Te recomendamos probar con 90 minutos antes o después 🎾\"\n  - En ese caso, **NO ofrezcas ninguna cancha** ni confirmes ninguna reserva.\n  - Sugiere siempre un horario alternativo si el subflujo te lo provee. Si no lo provee, pedile al usuario que elija otro horario dentro del rango permitido (10:00 a 22:30).\n\n5. **INFORMACIÓN GENERAL Y DUDAS:**\n  - Si el usuario pregunta por horarios, precios, ubicación, tipos de cancha o reglas del complejo, DEBES usar la herramienta `Conocimiento`.\n  - No inventes datos. Si la herramienta no tiene la respuesta, dile amablemente al usuario que consultarás con un humano.\n  - Ten en cuenta que la seña siempre es de **ARS 30.000**, independientemente del tipo de cancha.\n\n## TONO DE VOZ\n  - Profesional, entusiasta y servicial.\n  - Usa emojis de pádel 🎾 y deportes para mantener un ambiente cercano.\n  - Confirma siempre los datos de forma clara antes de finalizar: \"Perfecto [Nombre], te registré en la Cancha N°[X] para el día [Fecha] a las [Hora]\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -656,
        1040
      ],
      "id": "6b8b1d72-d26d-4aa6-9cc9-51be1aeee17b",
      "name": "Agente Conversacional"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -304,
        1040
      ],
      "id": "643ff583-93f8-4808-9198-a420755e64ce",
      "name": "Send a text message",
      "webhookId": "e09c78b2-84e9-4e4c-af09-87b4fbe2ac0f",
      "credentials": {
        "telegramApi": {
          "id": "IlRajKak34OGYyo8",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "description": "Busca disponibilidad y agenda citas en el calendario. Recibe: nombre, apellido, fecha (YYYY-MM-DD), hora (HH:mm), cancha (1-4), celular",
        "workflowId": {
          "__rl": true,
          "value": "=tOY4czRnNRKnXiYY",
          "mode": "id",
          "cachedResultUrl": "/workflow/=tOY4czRnNRKnXiYY"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Procesar texto').item.json.message.chat.id }}",
            "cancha": "={{ $fromAI('cancha', ``, 'string') }}",
            "hora": "={{ $fromAI('hora', ``, 'string') }}",
            "fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', `Fecha de la reserva en formato DD/MM/YYYY. Ejemplo: 08/03/2026.`, 'string') }}",
            "celular": "={{ $fromAI('celular', ``, 'string') }}",
            "apellido": "={{ $fromAI('apellido', ``, 'string') }}",
            "nombre": "={{ $fromAI('nombre', ``, 'string') }}",
            "client_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('client_id', `El ID del cliente que se usó en el nodo de Agregar cliente`, 'string') }}",
            "monto": 30000
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "apellido",
              "displayName": "apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "celular",
              "displayName": "celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "cancha",
              "displayName": "cancha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "monto",
              "displayName": "monto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -352,
        1264
      ],
      "id": "968ed7eb-d874-4c50-8c62-ed34383b727a",
      "name": "Agenda calendario",
      "disabled": true
    },
    {
      "parameters": {
        "description": "Busca disponibilidad y agenda citas en el calendario. Recibe: nombre, apellido, fecha (YYYY-MM-DD), hora (HH:mm), cancha (1-4), celular",
        "workflowId": {
          "__rl": true,
          "value": "tOY4czRnNRKnXiYY",
          "mode": "id",
          "cachedResultUrl": "/workflow/tOY4czRnNRKnXiYY"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Procesar texto').item.json.message.chat.id }}",
            "cancha": "={{ $fromAI('cancha', ``, 'string') }}",
            "hora": "={{ $fromAI('hora', ``, 'string') }}",
            "fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', `Fecha de la reserva en formato DD/MM/YYYY. Ejemplo: 08/03/2026.`, 'string') }}",
            "celular": "={{ $fromAI('celular', ``, 'string') }}",
            "apellido": "={{ $fromAI('apellido', ``, 'string') }}",
            "nombre": "={{ $fromAI('nombre', ``, 'string') }}",
            "client_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('client_id', `El ID del cliente que se usó en el nodo de Agregar cliente`, 'string') }}",
            "monto": 30000
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "apellido",
              "displayName": "apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "celular",
              "displayName": "celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "cancha",
              "displayName": "cancha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "monto",
              "displayName": "monto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -352,
        1184
      ],
      "id": "968ed7eb-d874-4c50-8c62-000000000001",
      "name": "Agenda calendario v2"
    },
    {
      "parameters": {
        "description": "Úsala cuando el cliente quiera ver fotos de las canchas o instalaciones. Recibe el parámetro 'cancha' (puede ser un número del 1 al 4, o la palabra 'todas') y el 'chatId' del usuario.",
        "workflowId": {
          "__rl": true,
          "value": "wK4ehb1yjQHw80ab",
          "mode": "list",
          "cachedResultUrl": "/workflow/wK4ehb1yjQHw80ab",
          "cachedResultName": "SimplificIA - Enviar fotos - subWF"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.message.chat.id }}",
            "cancha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cancha', `puede ser un número del 1 al 4, o la palabra 'todas`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "cancha",
              "displayName": "cancha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -224,
        1264
      ],
      "id": "d32cf485-037f-4a99-b427-db0b68500e87",
      "name": "Envia fotos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GfRPd6fEiF2B94sg",
          "mode": "id",
          "cachedResultUrl": "/workflow/GfRPd6fEiF2B94sg"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre', ``, 'string') }}",
            "apellido": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('apellido', ``, 'string') }}",
            "chat_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chat_id', ``, 'string') }}",
            "cancha_final": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cancha_final', ``, 'string') }}",
            "fecha_formateada": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_formateada', ``, 'string') }}",
            "hora_formateada": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora_formateada', ``, 'string') }}",
            "monto": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('monto', ``, 'string') }}",
            "fecha_hora_iso_start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_hora_iso_start', ``, 'string') }}",
            "fecha_hora_iso_end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha_hora_iso_end', ``, 'string') }}",
            "client_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('client_id', ``, 'string') }}",
            "baserow_row_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('baserow_row_id', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "apellido",
              "displayName": "apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cancha_final",
              "displayName": "cancha_final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fecha_formateada",
              "displayName": "fecha_formateada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "hora_formateada",
              "displayName": "hora_formateada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "monto",
              "displayName": "monto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fecha_hora_iso_start",
              "displayName": "fecha_hora_iso_start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fecha_hora_iso_end",
              "displayName": "fecha_hora_iso_end",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "baserow_row_id",
              "displayName": "baserow_row_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -112,
        1264
      ],
      "id": "84c32c2d-32d4-4a80-8008-e00cff993512",
      "name": "Transferencias"
    }
  ],
  "pinData": {},
  "connections": {
    "If-or": {
      "main": [
        [
          {
            "node": "Audio?-or",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesa transferencia-or",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio?-or": {
      "main": [
        [
          {
            "node": "Obtener audio-or",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge texto-or",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener audio-or": {
      "main": [
        [
          {
            "node": "Descargar audio-or",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar audio-or": {
      "main": [
        [
          {
            "node": "Code in JavaScript -or",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript -or": {
      "main": [
        [
          {
            "node": "Transcribir audio-or",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir audio-or": {
      "main": [
        [
          {
            "node": "Merge texto-or",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge texto-or": {
      "main": [
        [
          {
            "node": "Calcular fecha-or",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular fecha-or": {
      "main": [
        [
          {
            "node": "Procesar texto-or",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar texto-or": {
      "main": [
        [
          {
            "node": "Agente Conversacional-or",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Conversacional-or": {
      "main": [
        [
          {
            "node": "Send a text message-or",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gpt-4o-mini-or": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Conversacional-or",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria-or": {
      "ai_memory": [
        [
          {
            "node": "Agente Conversacional-or",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Buscar cliente-or ": {
      "ai_tool": [
        [
          {
            "node": "Agente Conversacional-or",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agregar cliente-or": {
      "ai_tool": [
        [
          {
            "node": "Agente Conversacional-or",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Conocimiento-or": {
      "ai_tool": [
        [
          {
            "node": "Agente Conversacional-or",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agenda calendario-or": {
      "ai_tool": [
        [
          {
            "node": "Agente Conversacional-or",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Envia fotos-or": {
      "ai_tool": [
        [
          {
            "node": "Agente Conversacional-or",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transferencias-or": {
      "ai_tool": [
        [
          {
            "node": "Agente Conversacional-or",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger-or": {
      "main": [
        [
          {
            "node": "If-or",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Audio?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar reserva pendiente v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger v2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar reserva pendiente v2": {
      "main": [
        [
          {
            "node": "Procesa transferencia v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio?": {
      "main": [
        [
          {
            "node": "Obtener audio v2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar reserva pendiente v2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener audio v2": {
      "main": [
        [
          {
            "node": "Descargar audio v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar audio v2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Transcribir audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge texto": {
      "main": [
        [
          {
            "node": "Calcular fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir audio": {
      "main": [
        [
          {
            "node": "Merge texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular fecha": {
      "main": [
        [
          {
            "node": "Procesar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar texto": {
      "main": [
        [
          {
            "node": "Agente Conversacional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gpt-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Conversacional",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria": {
      "ai_memory": [
        [
          {
            "node": "Agente Conversacional",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Buscar cliente": {
      "ai_tool": [
        [
          {
            "node": "Agente Conversacional",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agregar cliente": {
      "ai_tool": [
        [
          {
            "node": "Agente Conversacional",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Conocimiento": {
      "ai_tool": [
        [
          {
            "node": "Agente Conversacional",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente Conversacional": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agenda calendario v2": {
      "ai_tool": [
        [
          {
            "node": "Agente Conversacional",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Envia fotos": {
      "ai_tool": [
        [
          {
            "node": "Agente Conversacional",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transferencias": {
      "ai_tool": [
        [
          {
            "node": "Agente Conversacional",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "ccfa109a-88d2-40ba-8fd5-13e2e0ea1af5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e663904003f2676a92c20d36a5b372551af6e923584acdd42e8d70f0a89c4c5c"
  },
  "id": "3LyM3EvTXPFCRjbq",
  "tags": []
}