06 - Pago por Transferencia - subWF.json
{
  "name": "06 - Pago por Transferencia - subWF",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "nombre"
            },
            {
              "name": "apellido"
            },
            {
              "name": "chat_id"
            },
            {
              "name": "cancha_final"
            },
            {
              "name": "fecha_formateada"
            },
            {
              "name": "hora_formateada"
            },
            {
              "name": "monto"
            },
            {
              "name": "fecha_hora_iso_start"
            },
            {
              "name": "fecha_hora_iso_end"
            },
            {
              "name": "client_id"
            },
            {
              "name": "baserow_row_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -640,
        -528
      ],
      "id": "49268f1a-e863-4cde-85ca-c9ef28ff142c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=💳 <b>Pago por Transferencia</b>\n\nPara confirmar tu reserva, realizá la transferencia por <b>${{ $json.monto }}</b> al siguiente alias:\n\n🏦 <b>Alias:</b> <code>TU.ALIAS.MP</code>\n👤 <b>Titular:</b> Complejo Paddle SimplificIA\n🔢 <b>CBU:</b> <code>0000000000000000000000</code>\n\n📋 <b>Concepto:</b> Reserva Cancha N°{{ $json.cancha_final }} - {{ $json.fecha_formateada }} {{ $json.hora_formateada }}hs\n\n⚠️ Una vez realizada la transferencia, <b>enviá el comprobante</b> (imagen o PDF) en este chat para confirmar tu reserva.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -464,
        -528
      ],
      "id": "b5792805-7fde-4846-bcf4-4ce371651dc7",
      "name": "Enviar datos transferencia",
      "webhookId": "7bc1c5c8-309c-41e9-bd16-3bb64ea94d66",
      "credentials": {
        "telegramApi": {
          "id": "IlRajKak34OGYyo8",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  status: 'esperando_comprobante',\n  mensaje: 'Datos de transferencia enviados al cliente. El cliente debe subir el comprobante para continuar con la reserva.',\n  cancha: $('When Executed by Another Workflow').item.json.cancha_final,\n  fecha: $('When Executed by Another Workflow').item.json.fecha_formateada,\n  hora: $('When Executed by Another Workflow').item.json.hora_formateada,\n  monto: $('When Executed by Another Workflow').item.json.monto,\n  baserow_row_id: $('When Executed by Another Workflow').item.json.baserow_row_id,\n  metodo_pago: 'transferencia'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -528
      ],
      "id": "d7c2ec24-ce29-4704-89de-8890a051abe5",
      "name": "Caso esperando comprobante"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Enviar datos transferencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar datos transferencia": {
      "main": [
        [
          {
            "node": "Caso esperando comprobante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "affc6e33-1bd8-4dd0-96b4-1048d4df438b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e663904003f2676a92c20d36a5b372551af6e923584acdd42e8d70f0a89c4c5c"
  },
  "id": "GfRPd6fEiF2B94sg",
  "tags": []
}