07 - Procesar comprobante transferencia - subWF.json
{
  "name": "07 - Procesar comprobante transferencia - subWF",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chat_id"
            },
            {
              "name": "file_id"
            },
            {
              "name": "file_type"
            },
            {
              "name": "baserow_row_id"
            },
            {
              "name": "cancha_final"
            },
            {
              "name": "fecha_hora_iso_start"
            },
            {
              "name": "fecha_hora_iso_end"
            },
            {
              "name": "nombre"
            },
            {
              "name": "monto"
            },
            {
              "name": "fecha_formateada"
            },
            {
              "name": "hora_formateada"
            },
            {
              "name": "client_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1952,
        -640
      ],
      "id": "82ec94c4-1f44-4955-9c3c-b43e7ad90875",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $credentials.accessToken }}/getFile?file_id={{ $json.file_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1776,
        -640
      ],
      "id": "18629a65-346c-47b2-b899-a3acae17d9cd",
      "name": "Obtener URL archivo Telegram",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $credentials.accessToken }}/getFile?file_id={{ $json.file_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1776,
        -560
      ],
      "id": "18629a65-346c-47b2-b899-000000000001",
      "name": "Obtener URL archivo Telegram v2",
      "credentials": {
        "telegramApi": {
          "id": "IlRajKak34OGYyo8",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{ $credentials.accessToken }}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1568,
        -640
      ],
      "id": "ff47cf2d-e047-46ff-adbd-4d743b4219e7",
      "name": "Descargar archivo",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{ $credentials.accessToken }}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1568,
        -560
      ],
      "id": "ff47cf2d-e047-46ff-adbd-000000000001",
      "name": "Descargar archivo v2",
      "credentials": {
        "telegramApi": {
          "id": "IlRajKak34OGYyo8",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parsear la respuesta de la IA\nconst respuesta = $input.item.json.text || $input.item.json.content || '';\nlet datos = {};\ntry {\n  // Limpiar posibles backticks de markdown\n  const clean = respuesta.replace(/```json|```/g, '').trim();\n  datos = JSON.parse(clean);\n} catch(e) {\n  datos = { error: 'No se pudo parsear la respuesta', raw: respuesta };\n}\n\nreturn {\n  ...datos,\n  chat_id: $('When Executed by Another Workflow').item.json.chat_id,\n  baserow_row_id: $('When Executed by Another Workflow').item.json.baserow_row_id,\n  cancha_final: $('When Executed by Another Workflow').item.json.cancha_final,\n  fecha_hora_iso_start: $('When Executed by Another Workflow').item.json.fecha_hora_iso_start,\n  fecha_hora_iso_end: $('When Executed by Another Workflow').item.json.fecha_hora_iso_end,\n  nombre: $('When Executed by Another Workflow').item.json.nombre,\n  monto_esperado: $('When Executed by Another Workflow').item.json.monto,\n  fecha_formateada: $('When Executed by Another Workflow').item.json.fecha_formateada,\n  hora_formateada: $('When Executed by Another Workflow').item.json.hora_formateada,\n  client_id: $('When Executed by Another Workflow').item.json.client_id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        -640
      ],
      "id": "7042a686-38de-4497-a34c-e02f72dcfecf",
      "name": "Parsear datos comprobante"
    },
    {
      "parameters": {
        "url": "https://api.mercadopago.com/v1/payments/search?sort=date_created&criteria=desc&limit=20",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -976,
        -640
      ],
      "id": "42f0fe65-9191-45e2-8f62-d1bbdad2310f",
      "name": "Consultar pagos recientes MP",
      "credentials": {
        "httpBearerAuth": {
          "id": "XQIv9rwLJIxyRxtp",
          "name": "MercadoPago-Bearer"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Comparar número de comprobante del archivo con pagos recientes de MP\nconst datosParsed = $('Parsear datos comprobante').item.json;\nconst numeroCbte = String(datosParsed.numero_comprobante || '').toLowerCase().trim();\nconst montoCbte = parseFloat(datosParsed.monto) || 0;\nconst montoEsperado = parseFloat(datosParsed.monto_esperado) || 0;\n\nconst pagos = $input.item.json?.results || [];\n\n// Buscar coincidencia por número de comprobante o ID de operación\nlet pagoEncontrado = null;\nfor (const pago of pagos) {\n  const idPago = String(pago.id || '').toLowerCase();\n  const idOperacion = String(pago.operation_id || '').toLowerCase();\n  const externalRef = String(pago.external_reference || '').toLowerCase();\n  \n  if (\n    numeroCbte && (\n      idPago.includes(numeroCbte) || \n      numeroCbte.includes(idPago) ||\n      idOperacion.includes(numeroCbte) ||\n      externalRef.includes(numeroCbte)\n    )\n  ) {\n    pagoEncontrado = pago;\n    break;\n  }\n}\n\n// Si no encontramos por número, verificar por monto\nif (!pagoEncontrado && montoCbte > 0) {\n  pagoEncontrado = pagos.find(p => \n    parseFloat(p.transaction_amount) === montoCbte && \n    p.status === 'approved'\n  ) || null;\n}\n\nreturn {\n  ...datosParsed,\n  pago_encontrado: pagoEncontrado !== null,\n  pago_mp: pagoEncontrado,\n  monto_coincide: Math.abs(montoCbte - montoEsperado) < 10\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        -640
      ],
      "id": "35c98fff-539c-4e0f-a75b-0c08b18a29b6",
      "name": "Verificar comprobante vs MP"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-verificado",
              "leftValue": "={{ $json.pago_encontrado || $json.monto_coincide }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -544,
        -640
      ],
      "id": "a1a241d8-1d5b-4aac-863c-1075fb46b457",
      "name": "Pago verificado?",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-verificado-v2",
              "leftValue": "={{ $json.pago_encontrado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -544,
        -560
      ],
      "id": "a1a241d8-1d5b-4aac-863c-000000000001",
      "name": "Pago verificado? v2"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "b535115af732095304cb08c1025b309323f101e30d6cb8e5c95b15d8883a48b8@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Reservaciones"
        },
        "start": "={{ $json.fecha_hora_iso_start }}",
        "end": "={{ $json.fecha_hora_iso_end }}",
        "additionalFields": {
          "description": "=Cliente: {{ $json.nombre }}\nFecha: {{ $json.fecha_formateada }}\nHora: {{ $json.hora_formateada }}hs\nSeña: ${{ $json.monto_esperado }}\nPago: Transferencia bancaria\nComprobante: {{ $json.numero_comprobante }}",
          "summary": "=Cancha N°{{ $json.cancha_final }} - {{ $json.nombre }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -320,
        -768
      ],
      "id": "1593647d-0579-4180-a068-31806956a627",
      "name": "Agendar cita",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3g1sScD5fKOeQIFK",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 147,
        "tableId": 560,
        "rowId": "={{ $('Verificar comprobante vs MP').item.json.baserow_row_id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 7135,
              "fieldValue": "Pagado"
            },
            {
              "fieldId": 7330,
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": 7899,
              "fieldValue": "=Transferencia - Cbte: {{ $('Verificar comprobante vs MP').item.json.numero_comprobante }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        -96,
        -768
      ],
      "id": "d0a4f272-4d15-4976-9bb7-ef00d8e37665",
      "name": "Actualizar reserva pagada",
      "credentials": {
        "baserowApi": {
          "id": "bpxjYqewrr1K3dsf",
          "name": "Baserow"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Verificar comprobante vs MP').item.json.chat_id }}",
        "text": "=✅ <b>¡Reserva confirmada!</b>\n\n👤 <b>Nombre:</b> {{ $('Verificar comprobante vs MP').item.json.nombre }}\n📅 <b>Fecha:</b> {{ $('Verificar comprobante vs MP').item.json.fecha_formateada }}\n🕒 <b>Hora:</b> {{ $('Verificar comprobante vs MP').item.json.hora_formateada }}hs\n🎾 <b>Cancha N°:</b> {{ $('Verificar comprobante vs MP').item.json.cancha_final }}\n💰 <b>Seña abonada:</b> ${{ $('Verificar comprobante vs MP').item.json.monto_esperado }}\n💳 <b>Pago:</b> Transferencia bancaria ✓\n\n¡Te esperamos! 🙌",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        128,
        -768
      ],
      "id": "93842370-9aac-4384-abf5-d115154147cd",
      "name": "Confirmar al cliente",
      "webhookId": "eeb5cda0-3e97-45f7-8edf-b403d9de900c",
      "credentials": {
        "telegramApi": {
          "id": "IlRajKak34OGYyo8",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  status: 'reserva_confirmada',\n  mensaje: 'Pago por transferencia verificado. Reserva confirmada y agendada.',\n  metodo_pago: 'transferencia'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -768
      ],
      "id": "7a7237d5-3cef-4c62-993f-44a0cde6904f",
      "name": "Caso confirmado"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=⚠️ <b>No pudimos verificar tu transferencia</b>\n\nRevisamos los pagos recientes y no encontramos una transferencia que coincida con tu comprobante.\n\nPosibles causas:\n• El pago aún no fue procesado (puede demorar unos minutos)\n• El monto no coincide con la seña requerida (${{ $json.monto_esperado }})\n\nPor favor intentá nuevamente en unos minutos o contactate con nosotros.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -320,
        -528
      ],
      "id": "3b03d927-3d23-4ce7-9ba1-05dd72232c91",
      "name": "Avisar pago no verificado",
      "webhookId": "84b87f8b-c29c-425a-9899-6e992df6a6d5",
      "credentials": {
        "telegramApi": {
          "id": "IlRajKak34OGYyo8",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  status: 'pago_no_verificado',\n  mensaje: 'No se encontró el comprobante en los pagos recientes de MercadoPago. El cliente fue notificado.',\n  numero_comprobante: $input.item.json.numero_comprobante,\n  monto_comprobante: $input.item.json.monto\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -528
      ],
      "id": "0e988b1c-9781-4cf6-96a3-f9a0096430af",
      "name": "Caso no verificado"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Analizá esta imagen de comprobante de transferencia bancaria o pago electrónico.\nExtrae los siguientes datos y respondé ÚNICAMENTE con un objeto JSON puro, sin markdown, sin explicaciones, sin texto adicional:\n{\n  \"numero_comprobante\": \"número o ID de operación visible en el comprobante (string)\",\n  \"monto\": número (solo el valor numérico, sin símbolo de moneda),\n  \"fecha\": \"fecha de la transacción si aparece (string, formato DD/MM/YYYY o como figure)\",\n  \"origen\": \"banco o billetera de origen si aparece (string)\",\n  \"es_comprobante_valido\": true o false\n}\nSi no podés determinar algún campo, usá null. No incluyas nada fuera del JSON.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1376,
        -640
      ],
      "id": "e5ba1b74-b7a4-4a67-a87a-ad48f8f603d6",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "PC4VGqko4NBRky7Y",
          "name": "OpenAi"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Obtener URL archivo Telegram v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener URL archivo Telegram v2": {
      "main": [
        [
          {
            "node": "Descargar archivo v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar archivo v2": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear datos comprobante": {
      "main": [
        [
          {
            "node": "Consultar pagos recientes MP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar pagos recientes MP": {
      "main": [
        [
          {
            "node": "Verificar comprobante vs MP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar comprobante vs MP": {
      "main": [
        [
          {
            "node": "Pago verificado? v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pago verificado? v2": {
      "main": [
        [
          {
            "node": "Agendar cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avisar pago no verificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar cita": {
      "main": [
        [
          {
            "node": "Actualizar reserva pagada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar reserva pagada": {
      "main": [
        [
          {
            "node": "Confirmar al cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar al cliente": {
      "main": [
        [
          {
            "node": "Caso confirmado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avisar pago no verificado": {
      "main": [
        [
          {
            "node": "Caso no verificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar archivo": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Parsear datos comprobante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "6b47f794-8f35-46c4-a286-b12b6ee8cde0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e663904003f2676a92c20d36a5b372551af6e923584acdd42e8d70f0a89c4c5c"
  },
  "id": "KEeEE0nBXtPOA0aI",
  "tags": []
}